<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home | Quote Manager</title>

    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <h1>Quote Manager</h1>
    
    <div class="col">

      <h2> Add new quote </h2>

      <form action="/quotes" method="post">
        <div>
          <label for="name">Name:</label>
          <input type="text" placeholder="name" name="name" id="name" />
        </div>
        <div>
          <label for="quote">Quote:</label>
          <input type="text" placeholder="quote" name="quote" id="quote" />
        </div>
        <button type="submit">Submit</button>
      </form>

      <h2> Quotes </h2>

      <% if(quotes.length > 0){ %>
      <ul>
        <!-- Loop through quotes -->
        <% for(var i = 0; i < quotes.length; i++) {%>
          <li>
            <!-- Output name from the iterated quote object -->
            <span><%= quotes[i].name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= quotes[i].quote %></span>
          </li>
        <% } %>
      </ul>
      <% } else { %>
      <a>No quotes yet! <a href="#name">Submit the first quote.</a></p>
      <% } %>
    </div>

    <div class="col">
      <h2>Darth Vader invades!</h2>
      <p>Replace first Yoda's quote with a quote written by Darth Vader</p>
      <button type="button" id="update-button">Replace Yoda's quote</button>
    </div>

    <div class="col">
      <h2>Remove Darth Vader!</h2>
      <p>Delete one Darth Vader's quote. Does nothing if there are no more Darth Vader's quote
      </p>
      <button id="delete-button">Delete Darth Vader's quote</button>
      <div id="message" aria-atomic="true" aria-live="polite"></div>
    </div>

    <script src="/js/main.js"></script>

  </body>
</html>